/* Global fonts rules */
$page-font: "Open Sans", "Arial", sans-serif;
$page-font-size: 17px;
$page-line-height: 30px;
$page-font-color: #444444;

/* Main colors */
$page-bg-color: #f9f9f9;
$btn-border-color: #444444;
$greeny-blue: #63d1bb;
$light-grey: #f1f1f1;

/* Sizes */
$mobile-body: 320px;
$tablet-body: 768px;
$dekstop-body: 1250px;
