/* Global fonts rules */
$page-font: "Open Sans", "Arial", sans-serif;
$page-font-size: 17px;
$page-line-height: 30px;
$page-font-color: #444444;

/* Main colors */
$page-bg-color: #f9f9f9;
$btn-border-color: #444444;
$greeny-blue: #63d1bb;
$light-grey: #f1f1f1;
$grey-border: #e7e7e7;

/* Sizes */
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;

$mobile-width-only: $tablet-width - 1px;

$mobile-wrapper-width: 260px;
$tablet-wrapper-width: 668px;
$desktop-wrapper-width: 1050px;
