.catalog-list {
  display: flex;
  flex-direction: column;
  width: $mobile-wrapper-width;
  margin: 0 auto;
  margin-top: 30px;

  &__item {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
    border-bottom: 1px solid $grey-border;
  }

  &__item-picture {
    margin: 0;
  }

  &__item-img {
    display: block;
    width: $mobile-wrapper-width;
    height: 195px;
    margin-bottom: 28px;
    background-color: #e6e7e9;
  }

  &__item-description {
    width: 232px;
    padding-left: 28px;
  }

  &__item-name {
    display: block;
    margin-bottom: 5px;
    line-height: 24px;
    color: black;
  }

  &__item-params {
    display: block;
    margin-bottom: 18px;
    font-size: 13px;
  }

  &__price {
    display: block;
    width: 205px;
    height: 74px;
    padding-top: 25px;
    border-top: 1px solid $grey-border;

    font-size: 15px;
    line-height: 24px;
    text-align: left;

    color: black;
  }
}

@media (min-width: $tablet-width) {
  .catalog-list {
    width: $tablet-wrapper-width;
    margin-top: 80px;

    &__item {
      margin-bottom: 52px;
      border: 1px solid $grey-border;
    }

    &__item-picture {
      display: flex;
      flex-direction: row;
      align-items: stretch;
    }

    &__item-img {
      width: 50%;
      height: 334px;
      margin: 0;
    }

    &__item-description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50%;
      padding-top: 26px;
    }

    &__item-name {
      font-size: 20px;
      line-height: 24px;
    }

    &__item-params {
      font-size: 15px;
    }

    &__price {
      height: 78px;
      padding-left: 5px;
      font-size: 17px;
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog-list {
    flex-direction: row;
    justify-content: space-between;
    width: $desktop-wrapper-width;
    margin-top: 130px;

    &__item {
      width: auto;
    }

    &__item-picture {
      flex-direction: column;
      height: 100%;
    }

    &__item-img {
      width: 316px;
      height: 462px;
      margin: 0;
    }

    &__item-description {
      flex-grow: 1;
      justify-content: space-between;
      padding-top: 26px;
      width: auto;
    }

    &__price {
      padding-top: 18px;
      padding-left: 0;
    }
  }
}
