.catalog-list {
  display: flex;
  flex-direction: column;
  width: $mobile-wrapper-width;
  margin: 0 auto;
  margin-top: 30px;

  &__item {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
    border-bottom: 1px solid $grey-border;
  }

  &__item-picture {
    margin: 0;
  }

  &__item-img {
    display: block;
    width: 100%;
    height: 195px;
    margin-bottom: 28px;
    background-color: #e6e7e9;
  }

  &__item-description {
    width: 232px;
    padding-left: 28px;
  }

  &__item-name {
    display: block;
    margin-bottom: 5px;
    line-height: 24px;
    color: black;
  }

  &__item-params {
    display: block;
    margin-bottom: 18px;
    font-size: 13px;
  }

  &__price {
    position: relative;

    display: block;
    width: 205px;
    height: 74px;
    padding-top: 25px;
    border-top: 1px solid $grey-border;

    font-size: 15px;
    line-height: 24px;
    text-align: left;

    color: black;
  }
}

.catalog-list__icon {
  position: absolute;

  top: 50%;
  right: 0;

  opacity: 0.2;
  transform: translateY(-50%);
}

@media (min-width: $tablet-width) {
  .catalog-list {
    width: $tablet-wrapper-width;
    margin-top: 80px;

    &__price {
      height: 78px;
      padding-left: 5px;
      font-size: 17px;
    }
  }

  .catalog-list__item {
    margin-bottom: 52px;
    border: 1px solid $grey-border;

    cursor: pointer;

    &:hover {
      box-shadow: 0 8px 10px 0 #ebebeb;
    }

    &:active {
      box-shadow: 0 3px 2px 0 #ebebeb;
    }

    &-picture {
      display: flex;
      flex-direction: row;
      align-items: stretch;
    }

    &-img {
      width: 100%;
      height: 334px;
      margin: 0;
    }

    &-description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50%;
      padding-top: 26px;
    }

    &-name {
      font-size: 20px;
      line-height: 24px;
    }

    &-params {
      font-size: 15px;
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog-list {
    flex-direction: row;
    justify-content: space-between;
    width: $desktop-wrapper-width;
    margin-top: 130px;

    &__item-picture {
      flex-direction: column;
      height: 100%;
    }

    &__item-img {
      width: 316px;
      height: 462px;
    }

    &__item-description {
      flex-grow: 1;
      justify-content: space-between;
      padding-top: 26px;
      width: auto;
    }

    &__price {
      width: 256px;
      padding-top: 18px;
      padding-left: 0;
    }
  }

  .catalog-list__item {
    width: auto;
  }
}
