.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $mobile-width;
  margin: 0 auto;
  margin-top: 35px;
  padding-bottom: 40px;

  &__wrapper {
    width: $mobile-wrapper-width;
  }

  &__list {
    margin-bottom: 35px;
    font-size: 15px;
  }

  &__item-name {
    vertical-align: top;
    width: 30%;
  }

  &__item-value {
    vertical-align: top;
  }

  &__map {
    width: $mobile-width;
    height: 457px;
    margin-bottom: 38px;

    background: $light-grey;
  }

  &__write-us {
    width: $mobile-wrapper-width;
  }
}

.contacts__header {
  margin-bottom: 32px;

  font-size: 18px;
  font-weight: bold;
  line-height: 30px;

  color: black;
}

.contacts__item-link {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid $greeny-blue;

  &:hover {
    color: $greeny-blue;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    width: $tablet-width;
    margin-top: 40px;
    padding-bottom: 57px;

    &__wrapper {
      width: $tablet-wrapper-width;
    }

    &__map {
      width: $tablet-width;
      margin-bottom: 54px;
    }

    &__write-us {
      width: 230px;
    }
  }

  .contacts__header {
    position: relative;

    margin-top: 20px;
    margin-bottom: 48px;
    @include tablet-big-font;

    .contacts__flag {
      position: absolute;
      top: -15px;
      right: 0;

      width: 47px;
      height: 81px;

      &::before {
        position: absolute;
        top: 0;
        left: 0;

        content: "";

        display: block;
        width: 4px;
        height: 100%;

        background-color: #221f1f;
      }

      &::after {
        position: absolute;
        top: 4px;
        left: 8px;

        content: "";

        display: block;

        border-top: 19px solid transparent;
        border-bottom: 19px solid transparent;
        border-right: 40px solid transparent;
        border-left: 40px solid #62d1ba;
      }
    }
  }

  .contacts__list {
    width: 100%;
    margin-bottom: 50px;

    font-size: 17px;
    tbody {
      display: flex;
    }
  }

  .contacts__field {
    width: 50%;
  }

  .contacts__item-name {
    width: 27%;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    width: $desktop-wrapper-width;
    margin-top: 46px;
    padding-left: 175px;
    padding-bottom: 105px;

    &__wrapper {
      width: 350px;
    }

    &__list {
      width: auto;
      margin-bottom: 10px;

      tbody {
        display: table-row-group;
      }
    }

    &__item-name {
      padding-bottom: 30px;
    }

    &__map {
      width: 525px;
      margin-bottom: 0;
    }

    &__write-us {
      width: 230px;
      margin-top: -52px;
    }
  }

  .contacts__header {
    margin-top: 73px;
    margin-bottom: 45px;
    @include desktop-big-font;

    .contacts__flag {
      top: -7px;
      left: -107px;
    }
  }
}
