.page-footer {
  background-color: $light-grey;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: $mobile-wrapper-width;
    margin: 0 auto;
  }

  &__logo {
    display: none;
  }

  &__social-list {
    width: 185px;
    height: 80px;
    border-bottom: 1px solid $grey-border;
  }
}

.page-footer__copyright {
  height: 80px;
  padding-top: 24px;

  text-align: center;
  text-decoration: none;
  font-size: 19px;
  line-height: normal;

  color: black;

  &-text {
    margin-right: 26px;
  }
}

.page-footer__copyright-icon {
  position: relative;

  display: inline-block;
  width: 32px;
  height: 34px;

  vertical-align: top;
  font-size: 0;
  line-height: 0;
  color: transparent;

  &::before {
    position: absolute;
    left: 0;
    content: "";

    width: 27px;
    height: 34px;
    opacity: 0.7;
    background-image: url("../img/logo-htmlacademy.svg");
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    &__wrapper {
      width: $tablet-wrapper-width;
      height: 143px;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    &__social-list {
      width: 182px;
    }
  }

  .page-footer__logo {
    display: block;
    width: 102px;
    height: 34px;
    margin-right: 90px;

    &:hover {
      fill: #46c1ae;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .page-footer__copyright {
    padding-top: 28px;

    &-text {
      margin-right: 20px;
    }
  }

  .page-footer__copyright:hover {
    .page-footer__copyright-icon::before {
      opacity: 1;
    }
  }

  .page-footer__copyright:active {
    opacity: 0.3;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: $desktop-wrapper-width;
  }
}
