.page-footer {
  background-color: $light-grey;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: $mobile-wrapper-width;
    margin: 0 auto;
  }

  &__logo {
    display: none;
  }

  &__social-list {
    width: 175px;
    height: 80px;
    border-bottom: 1px solid $grey-border;
  }
}

.page-footer__copyright {
  height: 80px;
  padding-top: 24px;

  text-align: center;
  text-decoration: none;
  font-size: 19px;
  line-height: normal;

  color: black;

  &-text {
    margin-right: 26px;
  }

  &-icon {
    display: inline-block;
    width: 32px;
    height: 34px;
    background-color: #63d1bb;

    vertical-align: top;
    font-size: 0;
    line-height: 0;
    color: transparent;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    &__wrapper {
      width: $tablet-wrapper-width;
      height: 143px;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    &__logo {
      display: block;
      width: 102px;
      height: 34px;
      margin-right: 90px;
    }

    &__social-list {
      width: 182px;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: $desktop-wrapper-width;
  }
}
