.products-list {
  @include custom-list;
  display: flex;
  flex-direction: column;
  width: $mobile-width;
  margin: 0 auto;
}

.products-list__link {
  display: inline-block;
  width: 100%;
  padding: 27px 160px 27px 30px;

  font-size: 19px;
  font-weight: bold;
  line-height: 24px;
  text-decoration: none;
  color: white;
  background-color: $greeny-blue;

  &--darker {
    background-color: #56c3b2;
  }
}

@media (min-width: $tablet-width) {
  .products-list {
    flex-direction: row;
    min-width: $tablet-wrapper-width;
    margin-bottom: 50px;

    &__item {
      width: 50%;
    }

    &__link {
      width: 100%;
      padding-left: 35px;

      font-size: 20px;
      line-height: 30px;
    }
  }
}

@media (min-width: $desktop-width) {
  .products-list {
    min-width: $desktop-wrapper-width;
    margin-bottom: 70px;
  }

  .products-list__link {
    &:hover {
      background-color: #59d5bc;
    }

    &:active {
      background-color: #59d5bc;
    }
  }

  .products-list__link--darker {
    &:hover {
      background-color: #46c1ae;
    }

    &:active {
      background-color: #46c1ae;
    }
  }
}
