.reviews {
  margin-top: 16px;
  padding-bottom: 52px;

  &__wrapper {
    width: 260px;
    margin: 0 auto;
  }

  &__header {
    margin-bottom: 25px;
  }

  &__title {
    margin: 0;
    @include mobile-big-font;
  }

  &__list {
    margin-bottom: 30px;
  }

  &__item {
    margin: 0;
  }

  &__text {
    margin-bottom: 24px;

    font-size: 15px;
    line-height: 30px;
  }

  &__author {
    display: block;
    width: 260px;
    font-style: normal;
  }

  &__author-name {
    color: black;
  }

  &__author-nickname {
    font-weight: 400;
  }

  &__write {
    width: 260px;
  }
}

.reviews__controlls {
  display: flex;
  width: 100%;
  margin-bottom: 38px;
  vertical-align: center;
}

.reviews__controller {
  position: relative;

  width: 50%;
  height: 50px;
  padding: 0;
  border: 1px solid $grey-border;

  background-color: white;
  cursor: pointer;

  &--next {
    transform: rotate(180deg);
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 35%;

    padding: 7px;
    border: solid black;
    border-width: 0 0 4px 4px;

    transform: translateY(-50%) rotate(45deg);
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 35%;

    width: 45px;
    height: 4px;
    background-color: black;
    transform: translateY(-50%);
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}


@media (min-width: $tablet-width) {
  .reviews {
    position: relative;

    margin-top: 27px;
    margin-bottom: 44px;
    padding-bottom: 85px;



    &::after {
      position: absolute;
      bottom: 0;

      z-index: 1;
      height: 17px;
      width: 100%;
      content: "";

      background-image: url("../img/bg-zigzag-line.svg");
      background-size: contain;
    }


    &__wrapper {
      position: relative;

      width: $tablet-width;
      padding: 50px;
      padding-top: 80px;
      padding-bottom: 0;

      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      background-repeat: no-repeat;
      background-size: contain;
      background-image: url("../img/index/review@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index/review@2x.jpg");
      }
    }

    &__header {
      order: 0;
      margin-bottom: 30px;
    }

    &__title {
      @include tablet-big-font;
    }

    &__write {
      order: 1;
      width: 174px;
    }

    &__list {
      order: 2;
      margin: 0;
    }

    &__text {
      margin-bottom: 52px;

      font-size: 17px;
    }

    &__author-name {
      font-size: 18px;
    }
  }

  .reviews__controlls {
    order: 3;
    width: 176px;
    margin: 0;
    margin-left: auto;

    transform: translateY(-110%);
  }

  .reviews__controller {
    border: none;
    height: 46px;

    &::before {
      left: 30%;
    }

    &::after {
      left: 30%;
    }
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    margin-top: 35px;

    &::after {
      height: 23px;
    }

    &__wrapper {
      width: $desktop-wrapper-width;
      padding-top: 72px;
      padding-right: 0;
      padding-left: 175px;
      padding-bottom: 50px;
    }

    &__header {
      margin-bottom: 32px;
    }

    &__title {
      @include desktop-big-font;
    }

    &__text {
      width: 775px;
      margin-bottom: 35px;
    }

    &__write {
      margin-top: 5px;
    }
  }
}
